<div class="navbar">
  <mat-toolbar class="container">
    <div class="logo-menu">
      <img class="img-logo" src="../../../../assets/img/logo.png"
           alt="logo" routerLink="/dashboard">
      <button mat-icon-button class="icon-menu"
              aria-label="Example icon-button with menu icon"
              [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <button mat-icon-button class="btn-shortcut">
      <mat-icon>workspace_premium</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" routerLink="/st/careers"
            aria-label="Example icon-button with user-profile icon">
      <mat-icon>search</mat-icon>
    </button>
    <app-menu-of-setting/>
  </mat-toolbar>
</div>

<mat-menu class="menu" #menu="matMenu">
  <button class="bg-light" mat-menu-item routerLink="/dashboard">
    <mat-icon>home</mat-icon>Dashboard
  </button>
  <button class="bg-light" mat-menu-item routerLink="/create-evaluation">
    <mat-icon>edit_document</mat-icon>Evaluations
  </button>
  <button class="bg-light" mat-menu-item routerLink="/create-event">
    <mat-icon>groups</mat-icon>Events
  </button>
</mat-menu>
