<app-landing-header></app-landing-header>
<main class="main">
  <section class="hero" id="hero">
    <div class="hero__container container">
      <div class="hero__content">
        <h1>Estas listo para <span>tu futuro?</span></h1>
        <p> Actualmente existe una gran cantidad de jóvenes
          que ignoran lo importante que es escoger una carrera
          universitaria. Creemos que proveyéndoles una opción
          simple  para saberlo, lograremos reducir este número.
        </p>
      </div>
      <div class="hero__img">
        <img src="../../../../assets/img/lp-hero.png" alt="imagen referencial de GoCarrer">
      </div>
    </div>
  </section>

  <section class="app" id="app">
    <h1 class="title">Features of the App</h1>
    <div class="app__container container">
      <div class="card">
        <div class="card__img">
          <img src="../../../../assets/img/lp-test.png" alt="test">
        </div>
        <div class="card__text">
          <h1>Prueba nuestro test de habilidades</h1>
          <p>Disponemos de  un test para conocer las preferencias y habilidades
            blandas de nuestros usuarios. De esta forma ofrecemos un servicio
            enfocado en cada tipo de usuario.</p>
        </div>
      </div>
      <div class="card">
        <div class="card__text">
          <h1>Chatea con profesionales</h1>
          <p>Tenemos a disposición un grupo de psicólogos especializados en el tema
            de orientación vocacional. Donde podrás obtener un servicio personalizado
            y una reunion virtual para  mejores resultados</p>
        </div>
        <div class="card__img">
          <img src="../../../../assets/img/lp-chats.png" alt="chats">
        </div>
      </div>
      <div class="card">
        <div class="card__img">
          <img src="../../../../assets/img/lp-article.png" alt="article">
        </div>
        <div class="card__text">
          <h1>Únete a nuestra comunidad de estudiantes</h1>
          <p>Podrás encontrar artículos e información de profesionales que ejerzan
            la carrera que sea adecuada para ti. Tendrás datos de primera mano
            e incluso pueden resolver tus dudas mediante las publicaciones.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="testi" id="testimonials">
    <div class="container">
      <h1 class="title">User Testimonials</h1>
      <div class="testi-content">
        <div class="card">
          <p class="comment">"¡Mi experiencia en GoCareer fue increíble! Lorem ipsum dolor sit amet Aspernatur atque fugit mollitia neque numquam pariatur."</p>
          <p class="user">- Juan Pérez</p>
        </div>
        <div class="card">
          <p class="comment">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque fugit mollitia neque numquam pariatur."</p>
          <p class="user">- María González</p>
        </div>
        <div class="card">
          <p class="comment">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque fugit mollitia neque numquam pariatur."</p>
          <p class="user">- Alejandro Gustavo</p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="contact__container container">
      <div class="contact__img">
        <img src="../../../../assets/img/lp-duda.png" alt="contact">
      </div>
      <div class="contact__content">
        <h1>PONTE EN CONTACTO CON NOSOTROS</h1>
        <p>Rellena los siguientes campos y te responderemos lo más pronto posible</p>
        <form action="contact">
          <input type="text" placeholder="Nombre">
          <input type="text" placeholder="Correo">
          <input type="text" placeholder="Asunto">
          <textarea placeholder="Mensaje"></textarea>
        </form>
        <button>ENVIAR</button>
      </div>
    </div>
  </section>
</main>
<app-landing-footer></app-landing-footer>
