<footer class="footer">
  <a class="footer__logo">GoCareer</a>
  <div class="footer__social">
    <a href="https://www.facebook.com" target="_blank">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://twitter.com/" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://linkedin.com/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <p class="footer__copy">© 2023 GoCareer. Todos los derechos reservados.</p>
</footer>
