<div class="userlogin">
<mat-card>
  <mat-card-content>
    <div class="registerfields">
      <h3>E-mail</h3>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="registerfields">
      <h3>Nueva contraseña</h3>
      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'">
      </mat-form-field>
    </div>
    <div class="registerfields">
      <h3>Confirmar contraseña</h3>
      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button class="btenter">
      Ingresa ahora con nueva contraseña
    </button>
  </mat-card-footer>
</mat-card>
</div>
