.card{
  margin: 2rem;
  width: 40rem;
}

.avatar{
  max-width: 40%;
}

img{
  padding: 1rem;
}

.flex{
  display: flex;

}

.name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
