<div class="card">
  <mat-card style="border-radius: 20px; box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.1)" >
    <mat-card-content class="flex" style="background-color: white ; border-radius: 20px">
      <div class="avatar" >
        <img src= "{{image}}" alt="userimage">
      </div>

      <div class="name" >
        <p>{{text}}</p>
        <button routerLink="{{pathforbutton}}" mat-button  style="background-color: #135E88CC">{{textbutton}}</button>
      </div>

    </mat-card-content>
  </mat-card>
</div>

