<div class="navbar">
  <mat-toolbar class="container">
    <div class="logo-menu">
      <img class="img-logo" src="assets/images/logo.png"
           alt="logo" routerLink="/st/home">
      <app-nav-menu/>
    </div>
    <button mat-icon-button class="btn-shortcut">
      <mat-icon>workspace_premium</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon"
            aria-label="Example icon-button with user-profile icon">
      <mat-icon>search</mat-icon>
    </button>
    <app-settings-menu/>
  </mat-toolbar>
</div>
