.rectangle-card {
  width: 100%;
  height: min-content;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-radius: 20px;
}
.start {
  min-width: 10rem;
  max-width: 11rem;
  height: auto;
  & img {
    border-radius: 10px;
    height: 100%;
  }
}
mat-card {
  border: none;
  box-shadow: none;
}
.end {
  flex-grow: 9999;
}
mat-card-actions {
  display: flex;
  gap: 1rem;
  & button {
    background-color: var(--shadow-color);
    color: var(--primary-color) !important;
  }
}

@media (max-width: 500px) {
  .rectangle-card {
    flex-direction: column;
  }
}
