<mat-toolbar class="navbar">
  <div class="logo-menu">
    <img class="img-logo" src="assets/images/logo.png"
         alt="logo" routerLink="/st/home">
    <app-nav-menu/>
  </div>
  <button mat-fab extended color="primary"
          class="btn-premium">Premium</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon"
          aria-label="Example icon-button with user-profile icon">
    <mat-icon>search</mat-icon>
  </button>
  <app-settings-menu/>
</mat-toolbar>
