<div class="userlogin view">
<mat-card>
  <mat-card-content>
    <form class="registerfields">
      <h3>Ingresar nombre</h3>
      <mat-form-field>
        <input matInput placeholder="Name" name="name" required [(ngModel)]="user.name">
      </mat-form-field>
      <h3>Ingresar apellido</h3>
      <mat-form-field>
        <input matInput placeholder="Lastname" name="lastname" required [(ngModel)]="user.lastname">
      </mat-form-field>
      <h3>Tu e-mail</h3>
      <mat-form-field>
        <input matInput placeholder="E-mail" name="email" required [(ngModel)]="user.email">
      </mat-form-field>
      <h3>Crear contraseña</h3>
      <mat-form-field>
        <input matInput placeholder="Password" name="password" required [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
      </mat-form-field>
    </form>
    <div class="usertype">
      <button class="btuser">Para estudiantes</button>
      <button class="btuser">Para expertos</button>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <a class="register" routerLink="/login">Ya tienes una cuenta? Inicie Sesion aqui!!</a>
  </mat-card-footer>
</mat-card>
</div>

