<mat-toolbar class="navbar">
  <div class="btn-menu">
    <button class="btn" [matMenuTriggerFor]="menu">
      <i class="fa-solid fa-bars-staggered fa-2xl"></i>
    </button>
    <mat-menu class="menu" #menu="matMenu">
      <button mat-menu-item (click)="redirectToNotifications()">Notificaciones</button>
      <button mat-menu-item (click)="redirectToSpecialists()">Conocer Especialistas</button>
      <button mat-menu-item (click)="redirectToTest()">Realizar Test</button>
      <button mat-menu-item (click)="redirectToCareer()">Carreras</button>
      <br>
      <button mat-menu-item (click)="signOut()">Cerrar sesion</button>
    </mat-menu>

  </div>
  <div class="logo">
    <img class="img-logo" src="assets/images/logo-white.png" alt="Logo GoCareer">
    <span class="text-logo">GoCareer</span>
  </div>

  <div class="btn-profile">
    <button class="profile-icon" aria-label="Example icon-button with share icon"
            (click)="redirectToProfile()">
      <i class="fa-solid fa-circle-user fa-2xl"></i>
    </button>
  </div>
</mat-toolbar>
