.profile {
  flex-grow: 1;
  min-width: min-content;
  max-width: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
mat-card-header, mat-card-content, mat-card-actions,
mat-card-footer, mat-list-item, mat-form-field {
  padding: 0;
}

.profile img {
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.name {
  display: flex;
  gap: 1rem;
}
.example-full-width {
  width: 100%;
}
@media (max-width: 1200px) {
  .name {
    flex-direction: column;
    gap: 0;
  }
}

