.header {
  position: fixed;
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 7rem;
  z-index: 10;
}
.header__container {
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
}
.header__logo img {
  width: 4rem;
}
.header__logo span {
  font-size: 1.5em;
  font-weight: 800;
}
.header__navbar {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header__navbar a {
  font-size: 1.3em;
  color: #0288D1;
}
.header__navbar a:hover {
  color: #212121;
  font-weight: 600;
}
.header__navbar a.active {
  font-weight: 600;
}
.btn__log-in {
  background-color: #0288D1 !important;
}
