<button mat-icon-button class="icon-menu"
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu class="menu" #menu="matMenu">
  <button class="bg-light" mat-menu-item [routerLink]="['/notifications']">Notificaciones</button>
  <button class="bg-light" mat-menu-item [routerLink]="['talks']">Conocer Especialistas</button>
  <button class="bg-light" mat-menu-item [routerLink]="['tests']">Realizar Test</button>
  <button class="bg-light" mat-menu-item [routerLink]="['/career']">Carreras</button>
</mat-menu>
