@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  --font-color-bg-light: black;
  --font-color-bg-dark: white;
  --primary-color: rgba(19, 94, 136, 0.8);
  --secondary-color: rgb(5, 38, 59);
  --shadow-color: rgba(19, 94, 136, 0.3);
  --bg-body-color: #EDEDED;
  --bg-div-color: white;

  /* Tipografía */
  --tipo-principal: Roboto, "Helvetica Neue", sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
  //--negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
  border: 0 !important;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  font-size: 100%;
}

/* Configuramos la tipografía para toda la web */
body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  background-color: var(--bg-body-color);
}

section {
  padding: max(1rem, 7%) 0;
  color: black;
  font-size: 1.2em;
}

.container {
  max-width: 1700px;
  height: 100%;
  margin: 0 auto !important;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  gap: 2em;
}
.layout {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.11);
  border-radius: 50px;
}
.view {
  min-height: 100vh;
}
button.btn {
  padding: 1rem 1.5rem 1rem 1rem;
  background-color: var(--primary-color);
  color: var(--font-color-bg-dark) !important;
  border-radius: 30px;
}
.content {
  padding: 2.5rem;
  border-radius: 20px;
}
.content .header {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 1rem;
}
@media (max-width: 1800px) {
  .container {
    gap: 1rem;
  }
}
@media (max-width: 1200px) {
  .container {
    font-size: 85%;
  }
  .layout {
    padding: 2.5rem 2rem !important;
  }
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .content {
    padding: 2em;
  }
  .layout {
    padding: 2rem 1rem !important;
  }
}
@media (max-width: 425px) {
  .content {
    padding: 1.5em;
  }
}

mat-card-header, mat-card-content, mat-card-actions,
mat-card-footer, mat-list-item, mat-form-field {
  padding: 0 !important;
}
