<div class="userlogin view">
<mat-card>
  <mat-card-content>
    <div class="registerfields">
      <h3>E-mail</h3>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="registerfields">
      <h3>Contraseña</h3>
      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'">
      </mat-form-field>
    </div>
    <div class="recover">
      <a routerLink="/checkpoint"><h3>¿Olvidó su contraseña?</h3></a>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button class="btenter" routerLink="">
      Ingresa ahora
    </button>
  </mat-card-footer>
</mat-card>
</div>
